<config>
    <System xmlns="http://cisco.com/ns/yang/cisco-nx-os-device">
        <fm-items>
            <bgp-items>
                <adminSt>enabled</adminSt>
            </bgp-items>
            <evpn-items>
                <adminSt>enabled</adminSt>
            </evpn-items>
            <ospf-items>
                <adminSt>enabled</adminSt>
            </ospf-items>
            {% if 'leafs' in group_names %}
            <hmm-items>
                <adminSt>enabled</adminSt>
            </hmm-items>
            <ifvlan-items>
                <adminSt>enabled</adminSt>
            </ifvlan-items>
            <nvo-items>
                <adminSt>enabled</adminSt>
            </nvo-items>
            <vnsegment-items>
                <adminSt>enabled</adminSt>
            </vnsegment-items>
            <lacp-items>
                <adminSt>enabled</adminSt>
            </lacp-items>
            <vpc-items>
                <adminSt>enabled</adminSt>
            </vpc-items>
            {% endif %}
        </fm-items>
    </System>
</config>