<config>
    <System xmlns="http://cisco.com/ns/yang/cisco-nx-os-device">
        <inst-items>
            <Inst-list>
                <name>{{item.name}}</name>
                <dom-items>
                    <Dom-list>
                        <name>{{item.name}}</name>
                        <af-items>
                            <DomAf-list>
                                <type>ipv4-ucast</type>
                                <ctrl-items>
                                    <AfCtrl-list>
                                        <type>ipv4-ucast</type>
                                        <rttp-items>
                                            <RttP-list>
                                                <type>export</type>
                                                <ent-items>
                                                    <RttEntry-list>
                                                        <rtt>route-target:unknown:0:0</rtt>
                                                    </RttEntry-list>
                                                </ent-items>
                                            </RttP-list>
                                            <RttP-list>
                                                <type>import</type>
                                                <ent-items>
                                                    <RttEntry-list>
                                                        <rtt>route-target:unknown:0:0</rtt>
                                                    </RttEntry-list>
                                                </ent-items>
                                            </RttP-list>
                                        </rttp-items>
                                    </AfCtrl-list>
                                    <AfCtrl-list>
                                        <type>l2vpn-evpn</type>
                                        <rttp-items>
                                            <RttP-list>
                                                <type>export</type>
                                                <ent-items>
                                                    <RttEntry-list>
                                                        <rtt>route-target:unknown:0:0</rtt>
                                                    </RttEntry-list>
                                                </ent-items>
                                            </RttP-list>
                                            <RttP-list>
                                                <type>import</type>
                                                <ent-items>
                                                    <RttEntry-list>
                                                        <rtt>route-target:unknown:0:0</rtt>
                                                    </RttEntry-list>
                                                </ent-items>
                                            </RttP-list>
                                        </rttp-items>
                                    </AfCtrl-list>
                                </ctrl-items>
                            </DomAf-list>
                        </af-items>
                        <rd>rd:unknown:0:0</rd>
                    </Dom-list>
                </dom-items>
                <encap>vxlan-{{item.vni}}</encap>
            </Inst-list>
        </inst-items>
    </System>
</config>