<config>
    <System xmlns="http://cisco.com/ns/yang/cisco-nx-os-device">
        <intf-items>
            <aggr-items>
                <AggrIf-list>
                    <id>{{vpc.peer_port_channel}}</id>
                    <isExplicit>true</isExplicit>
                    <pcMode>active</pcMode>
                    <mode>trunk</mode>
                    <layer>Layer2</layer>
                    <adminSt>up</adminSt>
                    <rsmbrIfs-items>
                        <RsMbrIfs-list>
                            <tDn>/System/intf-items/phys-items/PhysIf-list[id=&apos;{{vpc.peer_links.0}}&apos;]</tDn>
                            <isMbrForce>true</isMbrForce>
                        </RsMbrIfs-list>
                        <RsMbrIfs-list>
                            <tDn>/System/intf-items/phys-items/PhysIf-list[id=&apos;{{vpc.peer_links.1}}&apos;]</tDn>
                            <isMbrForce>true</isMbrForce>
                        </RsMbrIfs-list>
                    </rsmbrIfs-items>
                    <userCfgdFlags>admin_layer</userCfgdFlags>
                </AggrIf-list>
            </aggr-items>
        </intf-items>
        <vpc-items>
            <adminSt>enabled</adminSt>
            <inst-items>
                <dom-items>
                    <id>{{vpc.domain}}</id>
                    <keepalive-items>
                        <peerlink-items>
                            <adminSt>enabled</adminSt>
                            <id>{{vpc.peer_port_channel}}</id>
                        </peerlink-items>
                    </keepalive-items>
                </dom-items>
            </inst-items>
        </vpc-items>
    </System>
</config>