<config>
    <System xmlns="http://cisco.com/ns/yang/cisco-nx-os-device">
        <inst-items>
            <Inst-list>
                <name>{{vpc.pkl_vrf}}</name>
                <dom-items>
                    <Dom-list>
                        <name>{{vpc.pkl_vrf}}</name>
                    </Dom-list>
                </dom-items>
            </Inst-list>
        </inst-items>
    </System>
</config>